* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: #b5d1e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid red;
}
.title{
    color: rgb(255, 98, 0);
}
form{
    max-width: 360px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
    text-align: center;
    padding: 30px 30px;
    border-radius: 35px;
    box-shadow: 5px 5px 15px black;
}
#text1{
    width: 100%;
    margin: 15px;
    background: #adf5de;
    padding: 10px 20px;
}
button{
    padding:10px;
    margin:20px;
    background-color: rgb(218, 205, 255);
    border-radius: 7px;
}
input[type="radio"]{
    display: inline;
}